<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/general.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/categories.css"
    />
  </head>
  <body>
    <%- include('navbar') %>

    <main>
      <% if (categories.length > 0) { %>
      <div class="categories">
        <% categories.forEach(({name, imagepath}) => { %>

        <div>
          <img src="../<%= imagepath %>" alt="image" />
          <p><%=name%></p>
        </div>

        <%})%>
      </div>
      <% } %>
    </main>
  </body>
</html>
