<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles/general.css" />
    <link rel="stylesheet" href="../../public/styles/delete.css" />
  </head>
  <body>
    <main>
      <div>
        <img src="../../public/images/<%=image%>" alt="image" />
      </div>

      <p>Are sure you want to delete this item ?</p>

      <div class="buttons">
        <div>Yes</div>
        <div>No</div>
      </div>
    </main>
  </body>
</html>
