<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/general.css"
    />
    <link rel="stylesheet" type="text/css" href="../public/styles/home.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <main>
      <div class="fullscreen-video-container">
        <video autoplay loop muted>
          <source
            src="../public/images/Abstract Neon Light Background Video, Yellow Spinning Motion Background Loop _ Free Stock Footage.mp4.mp4"
            type="video/mp4"
          />
        </video>

        <div class="fullscreen-video-content">
          <h1>Some Text</h1>
        </div>
      </div>
    </main>
  </body>
</html>
