<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/general.css"
    />
    <link rel="stylesheet" type="text/css" href="../public/styles/home.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <main class="fullscreen-video-container">
      <video autoplay loop muted>
        <source
          src="../public/images/Abstract Neon Light Background Video, Yellow Spinning Motion Background Loop _ Free Stock Footage.mp4.mp4"
          type="video/mp4"
        />
      </video>

      <div class="background-content">
        <h1>Video Games inventory</h1>
        <p>The adventure never ends: Expand your world, one game at a time.</p>
        <a href="/categories">Explore Categories</a>
      </div>
    </main>

    <div class="featured-categories">
      <h1>Featured categories</h1>
      <div class="categories">
        <% featuredCategories.forEach(({name,image}) => { %>
        <div>
          <img src="../public/images/<%=image%>" alt="cover image" />
          <p><%= name %></p>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
