<% if (itemsArray.length > 0) { %>
<div class="covers-container">
  <% itemsArray.forEach( ({logo,name}) => { %>
  <a href="/items/<%=name%>">
    <div class="cover">
      <img src="../public/images/<%=logo%>" alt="game image" />
    </div>
  </a>
  <%})%>
</div>
<% } else { %>
<div>
  <p>No items here yet</p>
</div>
<% } %>
