<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/styles/general.css"
    />
  </head>
  <body>
    <%- include('navbar') %>

    <main>
      <% if (items.length > 0) { %>
      <div class="covers-container">
        <% items.forEach( ({logo,name}) => { %>
        <a href="/items/<%=name%>">
          <div class="cover">
            <img src="<%=logo%>" alt="game image" />
          </div>
          <p><%=logo%></p>
        </a>
        <%})%>
      </div>
      <% } %>
    </main>
  </body>
</html>
