<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/general.css" />
    <link rel="stylesheet" href="../public/styles/notfound.css" />
  </head>
  <body>
    <%- include('navbar') %>

    <main>
      <div class="content">
        <h1>404-error</h1>
        <h2>Page not found</h2>
        <p>Your search has ventured beyond the known universe</p>
        <a href="/">Back To Home</a>
      </div>

      <div class="image">
        <img src="../public/images/astronaut-3.png" />
      </div>
    </main>
  </body>
</html>
