<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/styles/general.css" />
  </head>

  <body>
    <%- include('navbar') %>

    <main>
      <h2 class="form-title">Create category</h2>

      <form
        action="/categories/<%=name%>/update"
        method="post"
        enctype="multipart/form-data"
      >
        <div>
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%=name%>"
            placeholder="action, adventure,..."
            required
          />
        </div>

        <div>
          <label for="about">Description:</label>
          <textarea name="about" id="about" required></textarea>
        </div>

        <div>
          <input
            type="file"
            name="file"
            accept="image/jpeg,image/png"
            required
          />
        </div>

        <button type="submit">Submit</button>
      </form>
    </main>

    <script>
      document.querySelector("textarea").value = "<%=description%>";
    </script>
  </body>
</html>
