main div {
  color: white;
}

/* .categories */

.categories .cover p {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--xlfs);
  font-weight: 650;
  text-shadow: 1px 1px black;
  text-transform: capitalize;
}
