body {
  position: static;
  padding-bottom: 0px;
}

.fullscreen-video-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-video-container video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.background-content {
  transform: translateY(-50px);
  text-align: center;
  font-size: var(--lfs);
  text-shadow: 0px 0px 20px rgb(150, 150, 0);
}

.background-content p {
  margin: 10px 0 30px;
}

.background-content a {
  padding: 10px 20px;
  background-color: var(--black);
  border-radius: 20px;
  text-shadow: 0px 0px;
}

.background-content a:hover {
  border: 1px solid white;
}

.featured {
  display: flex;
}

.featured:nth-of-type(1) {
  margin-bottom: 150px;
}

.featured > * {
  flex: 1 1 auto;
}

.featured .showcase-image {
  width: 300px;
}

.featured-elements {
  align-self: center;
  position: relative;
  top: 30px;
}

.featured-elements h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: var(--text-glow);
  margin: 20px 0 30px;
}

.featured-elements .elements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.featured-elements .elements a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
  font-size: var(--xxlfs);
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 1px 1px black;
  border-radius: 30px;
  overflow: hidden;
}

.featured-elements .elements a:hover {
  scale: 1.05;
}

.featured-elements .elements a img {
  position: absolute;
}

footer {
  position: static;
  margin-top: 150px;
}
