main {
  display: grid;
  padding: 0 10px;
  grid-template-columns: 46vw 1fr;
  gap: 20px;
}

.cover-image {
  border-radius: 20px;
  overflow: hidden;
  height: 100vh;
}

.item-data {
  align-self: self-start;
  padding-top: 10px;
}

.item-data > div {
  margin-bottom: 25px;
  text-transform: capitalize;
}

.item-data .update-item {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 20px;
}

.item-data .update-item a {
  text-transform: lowercase;
  padding: 5px 15px;
  background-color: var(--lightblack);
  border-radius: 15px;
  font-weight: 600;
  transition: scale 0.2s;
}

.item-data .update-item a:hover {
  scale: 1.1;
}

.item-data a i {
  font-size: var(--sfs);
  margin-right: 2px;
}

.item-data .name {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: cursive;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.item-data .genres {
  display: flex;
  gap: 10px;
}

.item-data .genres a {
  color: var(--lightblue);
  background-color: var(--transparentblue);
  font-size: var(--sfs);
  font-weight: 650;
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 15px;
  border-radius: 20px;
}

.item-data .genres a:hover {
  background-color: var(--lightblue);
  color: white;
}

.item-data span {
  font-weight: 700;
}
